.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

botton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Toast Example */
.toast-example-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80vw;
  height: 100vh;
  margin: auto;
}

.toast-example-type {
  display: flex;
  gap: 1rem;
}

.toast-example-position {
  display: flex;
  gap: 1rem;
}

/* Toast Component */
.toast-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  left: 16px;
  top: 16px;
  right: 16px;
  bottom: 16px;
  pointer-events: none;
}

.toast {
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  width: 180px;
  height: 45px;
  border-radius: 8px;
  border: 2px solid #FFF;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.toast.toast-success {
background-color: lightgreen;
}

.toast.toast-error {
background-color: lightcoral;
}

.toast.toast-info {
background-color: lightblue;
}

