.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

botton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Toast Example */
.toast-example-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80vw;
  height: 100vh;
  margin: auto;
}

.toast-example-type {
  display: flex;
  gap: 1rem;
}

.toast-example-position {
  display: flex;
  gap: 1rem;
}

/* Toast Component */
.toast-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  left: 16px;
  top: 16px;
  right: 16px;
  bottom: 16px;
  pointer-events: none;
}

.toast {
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  background-color: #FFF;
  width: 180px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.toast .toast-message {
  font-size: 0.9em;
}
.check-circle-success {
  color: #4CAF50;
  position: absolute;
  left: 10%;
}

.check-circle-error {
  color: #E53935;
  position: absolute;
  left: 10%;
}

.check-circle-info {
  color: #2196F3;
  position: absolute;
  left: 10%;
}

.check-circle-loading {
  color: #eee;
  position: absolute;
  left: 10%;
}






